@use "../abstracts/" as *;
body {
    background-image: url(../img/Yugiho-collection-2.webp);
    background-size: cover;
    background-position: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Wrapper {
    margin: auto;
    width: 100%;
    text-align: center;
    
    h1 {
        color:rgb(197, 2, 2);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-larger;
    }
    h2 {
        color:rgb(250, 250, 250);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-larger;
    }
    .btn-group {
        display: flex;
        // flex-direction: column; 
        width: 15%;
        gap: 2rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        button {
            padding: 1rem 3rem;
            bottom: 2rem;
            border-radius: 15px;
            cursor: pointer;
            background-color:rgba(190, 117, 7, 0.89);
            color: rgb(241, 213, 213);
            
        }
    }
    .dataSearch{
        input {
            width: 350px;
        }
        button {
            padding: 1rem 1rem;
            border-radius: 10px;
            cursor: pointer;
            background-color:rgba(190, 117, 7, 0.89);
            color: rgb(241, 213, 213);
        }

    }
}
.wropper {
    display: flex;
    // gap: 1rem;
    .display-carte {
        margin-left: 6%;
        margin-top: 5%;
        width: 60%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
        color: aliceblue;
        // left: 2rem;

        .card {
            display: flex;
            flex-direction: column;

            h3 {
                flex-grow: 1;
            }
        }
        
        img {
            height:max-content;
            width: fit-content;
            // aspect-ratio: 1/1;
            box-shadow: 10px 5px 5px rgb(12, 1, 1);
            border-radius: 15px;
            &:hover {
                transform: scale(2);
                // transition: ease-in-out .3s;
                
            }
        }
        .ajout {
            background-color: crimson;
            border-radius: 15px;
            
        }
        .popup {
            position: fixed;
            
        }
    }
    .selection-carte {
        min-height: 600px;
        width: 25%;
        margin: auto;
        gap: 1rem;
        background-color: black;
        align-items: self-start;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-direction: column;
        border: 10px solid rgb(248, 161, 0);
        color: white;
        position: fixed;
        right: 2rem;
        background-image: url(../img/GA8KgUv8QCQw33nGMP2Lh9zZ1R6rKyVdsfGz5dQBp2Y.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            height:max-content;
            width: fit-content;
            // aspect-ratio: 1/1;
            box-shadow: 10px 5px 5px rgb(12, 1, 1);
            border-radius: 15px;
            &:hover {
                transform: scale(2);
                // transition: ease-in-out .3s;
                
            }
        }
        &::after { 
            content: "";
            width: fit-content;
            height: fit-content;
        }
    }
    
//    &.visible {
//      display: grid;
//      grid-template-columns: repeat(6, 1fr);
//      gap: 1rem;
//      margin-top: 2rem;
//    }
} 